In [1]:
import pandas as pd

df=pd.read_csv('car data.csv')
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [33]:
df.shape

(301, 9)

In [34]:
df['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [35]:
df['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [36]:
df['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [37]:
# df['Owner'].unique()

In [38]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [39]:
df.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [40]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [41]:
f_df=df[['Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner']]

In [42]:
f_df['Current_year']=2024
f_df

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current_year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024
...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,2024
297,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,2024
298,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,2024
299,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,2024
300,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,2024

In [43]:
f_df['no_year']=f_df['Current_year']-f_df['Year']
f_df

,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current_year,no_year
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024,10
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024,11
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024,7
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024,13
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024,10
...,...,...,...,...,...,...,...,...,...,...
296,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0,2024,8
297,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0,2024,9
298,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0,2024,15
299,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0,2024,7
300,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0,2024,8

In [44]:
f_df.drop(['Year'],axis=1,inplace=True)
f_df

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Current_year,no_year
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,2024,10
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,2024,11
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,2024,7
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,2024,13
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,2024,10
...,...,...,...,...,...,...,...,...,...
296,9.50,11.60,33988,Diesel,Dealer,Manual,0,2024,8
297,4.00,5.90,60000,Petrol,Dealer,Manual,0,2024,9
298,3.35,11.00,87934,Petrol,Dealer,Manual,0,2024,15
299,11.50,12.50,9000,Diesel,Dealer,Manual,0,2024,7
300,5.30,5.90,5464,Petrol,Dealer,Manual,0,2024,8

In [45]:
f_df.drop(['Current_year'],axis=1,inplace=True)
f_df.head()

,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,no_year
0,3.35,5.59,27000,Petrol,Dealer,Manual,0,10
1,4.75,9.54,43000,Diesel,Dealer,Manual,0,11
2,7.25,9.85,6900,Petrol,Dealer,Manual,0,7
3,2.85,4.15,5200,Petrol,Dealer,Manual,0,13
4,4.60,6.87,42450,Diesel,Dealer,Manual,0,10

In [46]:
f_df=pd.get_dummies(f_df,drop_first=True)

In [47]:
f_df.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,10,0,1,0,1
1,4.75,9.54,43000,0,11,1,0,0,1
2,7.25,9.85,6900,0,7,0,1,0,1
3,2.85,4.15,5200,0,13,0,1,0,1
4,4.60,6.87,42450,0,10,1,0,0,1

In [48]:
f_df.corr()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
Selling_Price,1.000000,0.878983,0.029187,-0.088344,-0.236141,0.552339,-0.540571,-0.550724,-0.367128
Present_Price,0.878983,1.000000,0.203647,0.008057,0.047584,0.473306,-0.465244,-0.512030,-0.348715
Kms_Driven,0.029187,0.203647,1.000000,0.089216,0.524342,0.172515,-0.172874,-0.101419,-0.162510
Owner,-0.088344,0.008057,0.089216,1.000000,0.182104,-0.053469,0.055687,0.124269,-0.050316
no_year,-0.236141,0.047584,0.524342,0.182104,1.000000,-0.064315,0.059959,0.039896,-0.000394
Fuel_Type_Diesel,0.552339,0.473306,0.172515,-0.053469,-0.064315,1.000000,-0.979648,-0.350467,-0.098643
Fuel_Type_Petrol,-0.540571,-0.465244,-0.172874,0.055687,0.059959,-0.979648,1.000000,0.358321,0.091013
Seller_Type_Individual,-0.550724,-0.512030,-0.101419,0.124269,0.039896,-0.350467,0.358321,1.000000,0.063240
Transmission_Manual,-0.367128,-0.348715,-0.162510,-0.050316,-0.000394,-0.098643,0.091013,0.063240,1.000000

In [49]:
import seaborn as sns

In [50]:
# sns.pairplot(f_df)

In [51]:
# import matplotlib.pyplot as plt
# corrmap=f_df.corr()
# top_corr=corrmap.index
# sns.heatmap(f_df[top_corr].corr(),annot=True)

In [52]:
x=f_df.iloc[:,1:]
y=f_df.iloc[:,0]
x,y

(     Present_Price  Kms_Driven  Owner  no_year  Fuel_Type_Diesel  \
 0             5.59       27000      0       10                 0
 1             9.54       43000      0       11                 1
 2             9.85        6900      0        7                 0
 3             4.15        5200      0       13                 0
 4             6.87       42450      0       10                 1
 ..             ...         ...    ...      ...               ...
 296          11.60       33988      0        8                 1
 297           5.90       60000      0        9                 0
 298          11.00       87934      0       15                 0
 299          12.50        9000      0        7                 1
 300           5.90        5464      0        8                 0

      Fuel_Type_Petrol  Seller_Type_Individual  Transmission_Manual
 0                   1                       0                    1
 1                   0                       0                    1
 2                   1                       0                    1
 3                   1                       0                    1
 4                   0                       0                    1
 ..                ...                     ...                  ...
 296                 0                       0                    1
 297                 1                       0                    1
 298                 1                       0                    1
 299                 0                       0                    1
 300                 1                       0                    1

 [301 rows x 8 columns],
 0       3.35
 1       4.75
 2       7.25
 3       2.85
 4       4.60
        ...
 296     9.50
 297     4.00
 298     3.35
 299    11.50
 300     5.30
 Name: Selling_Price, Length: 301, dtype: float64)

In [53]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [54]:
x.head()

,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,5.59,27000,0,10,0,1,0,1
1,9.54,43000,0,11,1,0,0,1
2,9.85,6900,0,7,0,1,0,1
3,4.15,5200,0,13,0,1,0,1
4,6.87,42450,0,10,1,0,0,1

In [55]:
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [56]:
from sklearn.ensemble import ExtraTreesRegressor

In [57]:
model=ExtraTreesRegressor()
model.fit(x,y)

ExtraTreesRegressor()

In [58]:
model.feature_importances_

array([3.63045421e-01, 4.43241087e-02, 3.04159010e-04, 7.06493390e-02,
       2.30837637e-01, 9.30008164e-03, 1.34988597e-01, 1.46550656e-01])

In [59]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [60]:
# y_test.concatenate(y_train)

In [61]:
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
print(n_estimators)
[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]
from sklearn.model_selection import RandomizedSearchCV
 #Randomized Search CV

# Number of trees in random forest
n_estimators = [int(x) for x in np.linspace(start = 100, stop = 1200, num = 12)]
# Number of features to consider at every split
max_features = ['auto', 'sqrt']
# Maximum number of levels in tree
max_depth = [int(x) for x in np.linspace(5, 30, num = 6)]
# max_depth.append(None)
# Minimum number of samples required to split a node
min_samples_split = [2, 5, 10, 15, 100]
# Minimum number of samples required at each leaf node
min_samples_leaf = [1, 2, 5, 10]
# Create the random grid
random_grid = {'n_estimators': n_estimators,
               'max_features': max_features,
               'max_depth': max_depth,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf}

print(random_grid)
{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}
# Use the random grid to search for best hyperparameters
# First create the base model to tune
rf = RandomForestRegressor()
# Random search of parameters, using 3 fold cross validation, 
# search across 100 different combinations
rf_random = RandomizedSearchCV(estimator = rf, param_distributions = random_grid,scoring='neg_mean_squared_error', n_iter = 10, cv = 5, verbose=2, random_state=42, n_jobs = 1)
rf_random.fit(x_train,y_train)

[100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200]

{'n_estimators': [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000, 1100, 1200], 'max_features': ['auto', 'sqrt'], 'max_depth': [5, 10, 15, 20, 25, 30], 'min_samples_split': [2, 5, 10, 15, 100], 'min_samples_leaf': [1, 2, 5, 10]}

Fitting 5 folds for each of 10 candidates, totalling 50 fits
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   2.5s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.0s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   5.2s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   3.4s
[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=5, min_samples_split=5, n_estimators=900; total time=   2.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   2.8s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   3.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   3.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   4.4s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=1100; total time=   3.5s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=100, n_estimators=300; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=15, max_features=auto, min_samples_leaf=5, min_samples_split=5, n_estimators=400; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=10, min_samples_split=5, n_estimators=700; total time=   0.0s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   3.9s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   4.8s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   3.8s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   3.8s
[CV] END max_depth=25, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=1000; total time=   5.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   3.0s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   2.9s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   3.5s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=10, min_samples_split=15, n_estimators=1100; total time=   3.7s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.1s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.6s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   2.3s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.2s
[CV] END max_depth=15, max_features=sqrt, min_samples_leaf=1, min_samples_split=15, n_estimators=300; total time=   1.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   2.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   2.4s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   2.1s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   2.2s
[CV] END max_depth=5, max_features=sqrt, min_samples_leaf=2, min_samples_split=10, n_estimators=700; total time=   2.2s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=1, min_samples_split=15, n_estimators=700; total time=   0.0s

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
20 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
20 fits failed with the following error:
Traceback (most recent call last):
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 1144, in wrapper
    estimator._validate_params()
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py", line 637, in _validate_params
    validate_parameter_constraints(
  File "C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestRegressor must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [-5.97924329 -5.03827712         nan         nan         nan -4.01292293
 -8.7537045  -5.03209147 -5.43203304         nan]
  warnings.warn(

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=1,
                   param_distributions={'max_depth': [5, 10, 15, 20, 25, 30],
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 5, 10],
                                        'min_samples_split': [2, 5, 10, 15,
                                                              100],
                                        'n_estimators': [100, 200, 300, 400,
                                                         500, 600, 700, 800,
                                                         900, 1000, 1100,
                                                         1200]},
                   random_state=42, scoring='neg_mean_squared_error',
                   verbose=2)

In [62]:
pred=rf_random.predict(x_test)
pred

array([ 2.88441,  5.15988,  4.28301,  9.09748,  5.24505,  0.52013,
        5.81491,  1.42679,  0.95017,  2.90514,  3.54705,  2.71858,
        8.77247,  0.89353,  5.86835,  0.85882,  2.76191,  7.77253,
        2.39592,  8.63331,  8.14984,  2.95396,  0.40443,  4.27103,
       10.03178,  1.36348,  0.52595,  9.39409,  3.7926 ,  3.1848 ,
        3.8016 ,  0.966  ,  8.85234,  7.97804, 21.02542,  4.29244,
       12.39901,  0.49762,  1.01828,  4.32195,  1.10003,  8.82934,
        0.99872,  0.67996,  0.4864 ,  4.3122 ,  0.50396,  0.34647,
        5.75472,  8.77637,  5.59656,  0.63009,  5.26679,  4.49883,
        7.7246 ,  7.51206,  0.58033,  3.03775,  4.29126,  0.54587,
       10.9548 ])

In [73]:
from sklearn.metrics import classification_report
classification_report(x_test,pred)

ValueError: Classification metrics can't handle a mix of continuous-multioutput and continuous targets

In [63]:
# import matplotlib.pyplot as plt
# # %matplotlib
# sns.displot(y_test-pred)

In [64]:
# plt.scatter(y_test,pred)

In [65]:
import pickle
file=open('random_forest_regression_model.pkl','wb')
pickle.dump(rf_random,file)

In [66]:
# predicted_price=rf_random.predict(27000,0,10,0,1,0,1)
# predicted_price

In [67]:
import pickle
import numpy as np
import pandas as pd

# Step 1: Load the model
with open('random_forest_regression_model.pkl', 'rb') as file:
    rf_random = pickle.load(file)

# Step 2: Prepare new data
# Example: assuming X_new is a DataFrame with the same feature columns as the training data
X_new = pd.DataFrame({
    'Present_Price':[5.59],
    
    'Kms_Driven': [27000],
    'Owner': [0],
    'no_year': [10],
    'Fuel_Type_Diesel': [0],
    'Fuel_Type_Petrol': [1],
    'Seller_Type_Individual': [0],
    'Transmission_Manual': [1],
    
    # Add other features as needed
})

# Step 3: Predict using the loaded model
predictions = rf_random.predict(X_new)

# Display predictions
print(predictions)

[3.77135]

In [68]:
# Assuming 'data' is your DataFrame and 'Selling_Price' is the target variable
sx= f_df.drop('Selling_Price', axis=1)  # Features
sy = f_df['Selling_Price']                # Target variable
sx,sy
sx_train, sx_test, sy_train, sy_test = train_test_split(sx, sy, test_size=0.2, random_state=42)

# Standardize the data
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(sx_train)
x_test_scaled = scaler.transform(sx_test)

# using svm model
# Importing sklearn library and svm module

from sklearn import svm


svr = svm.SVR(kernel='linear')

svr.fit(x_train_scaled, sy_train)

s_pred = svr.predict(x_test_scaled)

s_pred

array([ 1.56403088,  8.34947106,  5.65701859, -0.50663137,  9.86764431,
        6.23336217,  0.96716743,  0.64119763,  0.84379337,  6.49609378,
        7.70563777,  0.47323203,  7.92757996,  1.96768218,  6.01532417,
        2.95256341,  0.6045804 , 11.03761682,  1.10915602,  1.80184469,
        0.31638352,  6.90208958,  5.92498467,  3.00620833,  0.53014867,
        3.95013496,  5.46676809,  3.13395964,  1.53855527,  1.27230325,
        0.30539944,  8.29297811, -0.36101164,  3.0503437 ,  7.350453  ,
        4.47850737,  7.64509642,  8.80233075,  2.7930383 ,  9.09752237,
        5.43442351,  4.78435816,  4.34138968,  0.27795547,  6.16901758,
        0.35150343,  7.64112795, 11.697489  ,  3.14574263,  4.4628949 ,
        6.22436881,  1.60535799, 20.1514431 , 15.74295317,  6.28289514,
        8.96048961,  4.35423895,  7.83193364,  2.91623376,  6.63024013,
        0.06910988])

In [69]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import svm
import pickle

# Assuming 'f_df' is your DataFrame
sx = f_df.drop('Selling_Price', axis=1)  # Features
sy = f_df['Selling_Price']                # Target variable

sx_train, sx_test, sy_train, sy_test = train_test_split(sx, sy, test_size=0.2, random_state=42)

# Standardize the data
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(sx_train)
x_test_scaled = scaler.transform(sx_test)

# Using SVM model
svr = svm.SVR(kernel='linear')
svr.fit(x_train_scaled, sy_train)

# Make predictions
s_pred = svr.predict(x_test_scaled)
print(s_pred)

# Saving the model using pickle
with open('svm2_model.pkl', 'wb') as file:
    pickle.dump(svr, file)

# Loading the model
with open('svm2_model.pkl', 'rb') as file:
    svr = pickle.load(file)

print(type(svr))

# New data for prediction
sX_new = pd.DataFrame({
    'Present_Price': [5.59],
    'Kms_Driven': [27000],
    'Owner': [0],
    'no_year': [10],
    'Fuel_Type_Diesel': [0],
    'Fuel_Type_Petrol': [1],
    'Seller_Type_Individual': [0],
    'Transmission_Manual': [1],
    # Ensure order and features match training set
}, columns=sx.columns)

# Scale the new data
sX_new_scaled = scaler.transform(sX_new)

# Predict using the loaded model
s_predictions = svr.predict(sX_new_scaled)

# Display predictions
print("Predicted Selling Price:", s_predictions)

[ 1.56403088  8.34947106  5.65701859 -0.50663137  9.86764431  6.23336217
  0.96716743  0.64119763  0.84379337  6.49609378  7.70563777  0.47323203
  7.92757996  1.96768218  6.01532417  2.95256341  0.6045804  11.03761682
  1.10915602  1.80184469  0.31638352  6.90208958  5.92498467  3.00620833
  0.53014867  3.95013496  5.46676809  3.13395964  1.53855527  1.27230325
  0.30539944  8.29297811 -0.36101164  3.0503437   7.350453    4.47850737
  7.64509642  8.80233075  2.7930383   9.09752237  5.43442351  4.78435816
  4.34138968  0.27795547  6.16901758  0.35150343  7.64112795 11.697489
  3.14574263  4.4628949   6.22436881  1.60535799 20.1514431  15.74295317
  6.28289514  8.96048961  4.35423895  7.83193364  2.91623376  6.63024013
  0.06910988]
<class 'sklearn.svm._classes.SVR'>
Predicted Selling Price: [3.86970678]

In [70]:
f_df.head()

,Selling_Price,Present_Price,Kms_Driven,Owner,no_year,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,3.35,5.59,27000,0,10,0,1,0,1
1,4.75,9.54,43000,0,11,1,0,0,1
2,7.25,9.85,6900,0,7,0,1,0,1
3,2.85,4.15,5200,0,13,0,1,0,1
4,4.60,6.87,42450,0,10,1,0,0,1

In [71]:
import pandas as pd

df1=pd.read_csv('car data1.csv')
df1.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner,Horsepower,Battery Power,Suspension,Cylinders,Torque
0,Toyota Corolla,2015,10.50,18.00,35000,Petrol,Dealer,Manual,0,132,1.5 kWh,MacPherson,4,174 Nm
1,Honda Civic,2017,14.00,20.75,27000,Diesel,Individual,Automatic,1,158,1.8 kWh,Double Wishbone,4,189 Nm
2,Ford Focus,2014,8.25,14.30,45000,Diesel,Dealer,Manual,0,120,1.6 kWh,Torsion Beam,4,150 Nm
3,Hyundai Elantra,2016,12.00,18.10,30000,Petrol,Dealer,Automatic,0,147,1.4 kWh,Multi-link,4,178 Nm
4,BMW 3 Series,2018,22.50,35.00,15000,Diesel,Dealer,Automatic,0,255,2.0 kWh,MacPherson,4,400 Nm